/*$mainGray: #888380;*/
/*$mainBlue: #017dc3;*/
body {
	font: 15px/1.5 oswald, arial;
	padding: 0;
	margin: 0;
	background-color: #888380;
}

/*Global*/

.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

/*Header*/

header {
	background: #343434;
	color: #ffffff;
	min-height: 70px;
	border-bottom: #427fab 5px solid;
}
header a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #name {
	float: left;
}

header #name h1 {
	padding-top: 10px;
	margin: 0;
	color: #017dc3;	
}

header #name h3 {
	padding-top: 0;
	margin: 0;
	color: #e3e3e3;	
}

header nav {
	float: right;
	padding-bottom: 17px;
}

header .current a {
	color: #29b1ff;
	font-weight: bold;
}

header a:hover {
	color: #0a97b2;
	font-weight: bold;
}

/*Showcase*/

#showcase {
	min-height: 400px;
	background: url("../images/dpg1 copy.jpg")no-repeat 0 -300px;
	text-align: center;
}

#showcase h1 {
	padding-top: 50px;
	color: #ff9900;
	font-size: 52px;
}

#showcase p {
	color: #f1c75c;
	font-size: 24px; 
}

header a {
	color: #017dc3;
	font-size: 24px;
	padding-top: 20px; 
	padding-bottom: 20px;
}

/*Languages bar*/

ul {
	margin: none;
	padding-top: 40px;
	text-align: center;
	color: blue;
}


li {
	display: inline;
	padding-right: 50px;
	font-size: 22px;
}
 
/*Boxes*/

#boxes {
	margin-top: 20px;
}

#boxes .container{
	width: 95%;
}

#boxes .box {
	float: left;
	text-align: center;
	width: 25%;
	padding-top: 10px;
	margin: 0;
	padding: 0;
}
.box img {
	/*width : 50%;*/
	width: 150px;
    height : 90px;
    display:inline-block;
    display:inline-block;
}




/*Footer*/

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #343434;
  text-align: center;
}







