/*$mainGray: #888380;*/
/*$mainBlue: #017dc3;*/
/*body {
	font: 15px/1.5 oswald, arial;
	padding: 0;
	margin: 0;
	background-color: #888380;
}

/*Global*/

/*.container {
	width: 85%;
	margin: auto;
	overflow: hidden;
}

/*Header*/

/*header {
	background: #343434;
	color: #ffffff;
	min-height: 70px;
	border-bottom: #427fab 5px solid;
}
header a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	width: 27%;
    height : 90px;
    display:inline-block;
    padding-bottom: 0;
    margin: 0;
}

header #name {
	float: left;
}

header #name h1 {
	padding-top: 10px;
	margin: 0;
	color: #017dc3;	
}

header #name h3 {
	padding-top: 0;
	margin: 0;
	color: #e3e3e3;	
}

header nav {
	float: right;
	display: inline;
	margin: 0;

}

header .current a {
	color: #29b1ff;
	font-weight: bold;
}

header a:hover {
	color: #0a97b2;
	font-weight: bold;
}

/*Showcase*/

/*#showcase {
	min-height: 400px;
	background: url("../images/dpg1 copy.jpg")no-repeat 0 -300px;
	text-align: center;
}

#showcase h1 {
	padding-top: 50px;
	color: #ff9900;
	font-size: 52px;
}

#showcase p {
	color: #f1c75c;
	font-size: 24px; 
}

header a {
	color: #017dc3;
	font-size: 24px; 
}

/*Languages bar*/

/*.container #skills {
	width: 95%;
}

#skills ul {
	margin: none;
	padding-top: 10px;
	text-align: center;
	padding-left: 0;
	width: 100%;
}


li {	
	display: inline;
	font-size: 18px;
	color: blue;
	float: left;
	width: 25%;
	
}
 
/*Boxes*/

/*#boxes {
	margin-top: 1px;
}

#boxes .container{
	width: 95%;
}

#boxes .box {
	float: left;
	text-align: center;
	width: 25%;
	padding-top: 10px;
	margin: 0;
	padding: 0;
}
.box img {
	width: 150px;
    height : 90px;
    display:inline-block;
}




/*Footer*/

/*footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #343434;
  text-align: center;
}

.links {
	float: right;
	display: inline;
	text-align: center;
	padding: 0;
	margin: 0;
}
*/




